// Body
$body-bg: rgb(226, 226, 226);

// Typography
$enable-responsive-font-sizes: true !default;
// $font-family-sans-serif: 'Nunito', sans-serif;
// $font-size-base: 0.6rem;
// $line-height-base: 1.2;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


$colone: #312d3c;
$coltwo: #1a1b1f;
$primaryCol: #0050D1;
$colthr: rgb(0, 0, 0);
$navbarbg: #000;
$secondaryCol: #E9ECFF;
$boxShadowPrimary: 4px 4px 10px #00000029;
$boxShadowSecondary: 4px 4px 10px #00000029;
$borderRadius: 10px;