// Variables
@import 'variables';

[x-cloak] { display: none !important; }

html, body {
    overflow-x: hidden;
}

body {
    position: relative;
}

button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

.scrollbar-thumb {
    background-color: rgb(143, 143, 143);
}

.scrollbar-track {
    background-color: transparent;
}


.gradient-background {
    background: transparent linear-gradient(180deg, #0050D16B 0%, #FFFFFF54 100%) 0% 0% no-repeat padding-box;
}

/* Navigation */
.sd-navbar {
    background: $navbarbg;
    opacity: 1;

    .nav-logo-img {
        float: left;
        position: relative;
        display: block;
        margin-top: 10px;
        margin-bottom: 15px;
        margin-left: 0;
        margin-right: 0;
    }

    .sd-nav {

        ul {
            margin: 0;

            li {
                display: inline-block;
                list-style-type: none;
                margin-left: 20px;

                p {
                    font-family: "Montserrat";
                    letter-spacing: 2.6px;
                    color: $secondaryCol;
                    opacity: 1;
                    text-decoration: none;
                    text-transform: uppercase;
                }

                p:hover {
                    color: $primaryCol;
                    cursor: pointer;
                }
            }
        }
    }
}

/* END - Navigation */


.image_container {

    .header_city_wrapper {
        position: relative;
        z-index: 20;

        img {
            width: 100%;
            height: auto;
        }

        .header_city_signal {
            position: absolute;
            z-index: -9999;
            width: 50%;

            @media (min-width: 320px) and (orientation: portrait) {
                bottom: 8%;
                left: 15%;
                width: 120%;
                transform-origin: 0px -300px -200px !important;
            }

            @media (min-width: 340px) and (orientation: portrait) {
                bottom: 10%;
                left: 11%;
                width: 130%;
                transform-origin: 0px -300px -200px !important;
            }

            @media (min-width: 410px) and (orientation: portrait) {
                bottom: 11%;
                left: 9%;
                width: 130%;
                // transform-origin: 0px -200px -200px !important;
            }

            @media (min-width: 410px) and (orientation: landscape) {
                bottom: 22%;
                left: 40%;
                width: 70%;
                // transform-origin: 0px -200px -200px !important;
            }

            @media (min-width: 768px) and (orientation: portrait) {
                bottom: 17%;
                left: 7%;
                width: 120%;
                // transform-origin: 0px -200px -200px !important;
            }

            @media (min-width: 768px) and (orientation: landscape) {
                bottom: 22%;
                left: 36%;
                width: 70%;
                // transform-origin: 0px -200px -200px !important;
            }

            @media (min-width: 1024px) and (orientation: portrait) {
                bottom: 21%;
                left: 10%;
                width: 120%;
                // transform-origin: 0px -200px -200px !important;
            }

            @media (min-width: 1024px) and (orientation: landscape) {
                bottom: 22%;
                left: 19%;
                width: 75%;
                // transform-origin: 0px -200px -200px !important;
            }

            @media (min-width: 1150px) {
                bottom: 23%;
                left: 22%;
                width: 72%;
                transform-origin: 0px -200px -200px !important;
            }

            @media (min-width: 1150px) and (orientation: landscape)  {
                bottom: 24%;
                left: 20%;
                width: 60%;
                transform-origin: 0px -200px -200px !important;
            }

            @media (min-width: 1300px) {
                bottom: 24%;
                left: 24%;
                width: 65%;
                transform-origin: 0px -200px -200px !important;
            }

            @media (min-width: 1400px) {
                bottom: 25%;
                left: 26%;
                width: 60%;
                transform-origin: 0px 110px 110px !important;
            }

            @media (min-width: 1500px) {
                bottom: 24%;
                left: 38%;
                width: 70%;
            }

            @media (min-width: 1921px) {
                bottom: 27%;
                left: 24%;
                width: 52%;
            }

            img {
                max-width: 70%;
                height: auto;
            }
        }
    }
}

  
  /* Icon 1 */
  
  #nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
    width: 60px;
    height: 45px;
    position: relative;
    margin: 0px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  #nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #000000;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  #nav-icon1 span:nth-child(1) {
    top: 0px;
  }
  
  #nav-icon1 span:nth-child(2) {
    top: 18px;
  }
  
  #nav-icon1 span:nth-child(3) {
    top: 36px;
  }
  
  #nav-icon1.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  
  #nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  
  #nav-icon1.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  
  /* Icon 2 */
  
  
  #nav-icon2 span {
    display: block;
    position: absolute;
    height: 9px;
    width: 50%;
    background: #000000;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  #nav-icon2 span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
  }
  
  #nav-icon2 span:nth-child(odd) {
    left:0px;
    border-radius: 9px 0 0 9px;
  }
  
  #nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
    top: 0px;
  }
  
  #nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
    top: 18px;
  }
  
  #nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
    top: 36px;
  }
  
  #nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  #nav-icon2.open span:nth-child(1) {
    left: 5px;
    top: 7px;
  }
  
  #nav-icon2.open span:nth-child(2) {
    left: calc(50% - 5px);
    top: 7px;
  }
  
  #nav-icon2.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
  }
  
  #nav-icon2.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
  }
  
  #nav-icon2.open span:nth-child(5) {
    left: 5px;
    top: 29px;
  }
  
  #nav-icon2.open span:nth-child(6) {
    left: calc(50% - 5px);
    top: 29px;
  }
  
  /* Icon 3 */
  
  #nav-icon3 span:nth-child(1) {
    top: 0px;
  }
  
  #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 18px;
  }
  
  #nav-icon3 span:nth-child(4) {
    top: 36px;
  }
  
  #nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  
  #nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  #nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  
  /* Icon 4 */
  
  #nav-icon4 {
  }
  
  #nav-icon4 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  
  #nav-icon4 span:nth-child(2) {
    top: 18px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  
  #nav-icon4 span:nth-child(3) {
    top: 36px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  
  #nav-icon4.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
  }
  
  #nav-icon4.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }
  
  #nav-icon4.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 39px;
    left: 8px;
  }

  .text-fade-in  {
    position: relative;
    font-weight: 900;
  }
  
  .text-fade-in  .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .text-fade-in  .letter {
    display: inline-block;
    line-height: 1em;
    transform-origin: 0 0;
  }
