[x-cloak] {
  display: none !important;
}

html, body {
  overflow-x: hidden;
}

body {
  position: relative;
}

.scrollbar-thumb {
  background-color: #8f8f8f;
}

.scrollbar-track {
  background-color: transparent;
}

.header-background {
  background: transparent linear-gradient(180deg, #0050D16B 0%, #FFFFFF54 100%) 0% 0% no-repeat padding-box;
}

/* Navigation */

.sd-navbar {
  background: #000;
  opacity: 1;
}

.sd-navbar .nav-logo-img {
  float: left;
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 0;
  margin-right: 0;
}

.sd-navbar .sd-nav ul {
  margin: 0;
}

.sd-navbar .sd-nav ul li {
  display: inline-block;
  list-style-type: none;
  margin-left: 20px;
}

.sd-navbar .sd-nav ul li p {
  font-family: "Montserrat";
  letter-spacing: 2.6px;
  color: #E9ECFF;
  opacity: 1;
  text-decoration: none;
  text-transform: uppercase;
}

.sd-navbar .sd-nav ul li p:hover {
  color: #0050D1;
  cursor: pointer;
}

/* END - Navigation */

.image_container .header_city_wrapper {
  position: relative;
  z-index: 20;
}

.image_container .header_city_wrapper img {
  width: 100%;
  height: auto;
}

.image_container .header_city_wrapper .header_city_signal {
  position: absolute;
  z-index: -9999;
  width: 50%;
}

@media (min-width: 320px) and (orientation: portrait) {
  .image_container .header_city_wrapper .header_city_signal {
    bottom: 8%;
    left: 15%;
    width: 120%;
    transform-origin: 0px -300px -200px !important;
  }
}

@media (min-width: 340px) and (orientation: portrait) {
  .image_container .header_city_wrapper .header_city_signal {
    bottom: 10%;
    left: 11%;
    width: 130%;
    transform-origin: 0px -300px -200px !important;
  }
}

@media (min-width: 410px) and (orientation: portrait) {
  .image_container .header_city_wrapper .header_city_signal {
    bottom: 11%;
    left: 9%;
    width: 130%;
  }
}

@media (min-width: 410px) and (orientation: landscape) {
  .image_container .header_city_wrapper .header_city_signal {
    bottom: 22%;
    left: 40%;
    width: 70%;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .image_container .header_city_wrapper .header_city_signal {
    bottom: 17%;
    left: 7%;
    width: 120%;
  }
}

@media (min-width: 768px) and (orientation: landscape) {
  .image_container .header_city_wrapper .header_city_signal {
    bottom: 22%;
    left: 36%;
    width: 70%;
  }
}

@media (min-width: 1024px) and (orientation: portrait) {
  .image_container .header_city_wrapper .header_city_signal {
    bottom: 21%;
    left: 10%;
    width: 120%;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .image_container .header_city_wrapper .header_city_signal {
    bottom: 22%;
    left: 19%;
    width: 75%;
  }
}

@media (min-width: 1150px) {
  .image_container .header_city_wrapper .header_city_signal {
    bottom: 23%;
    left: 22%;
    width: 72%;
    transform-origin: 0px -200px -200px !important;
  }
}

@media (min-width: 1150px) and (orientation: landscape) {
  .image_container .header_city_wrapper .header_city_signal {
    bottom: 24%;
    left: 20%;
    width: 60%;
    transform-origin: 0px -200px -200px !important;
  }
}

@media (min-width: 1300px) {
  .image_container .header_city_wrapper .header_city_signal {
    bottom: 24%;
    left: 24%;
    width: 65%;
    transform-origin: 0px -200px -200px !important;
  }
}

@media (min-width: 1400px) {
  .image_container .header_city_wrapper .header_city_signal {
    bottom: 25%;
    left: 26%;
    width: 60%;
    transform-origin: 0px 110px 110px !important;
  }
}

@media (min-width: 1500px) {
  .image_container .header_city_wrapper .header_city_signal {
    bottom: 24%;
    left: 38%;
    width: 70%;
  }
}

@media (min-width: 1921px) {
  .image_container .header_city_wrapper .header_city_signal {
    bottom: 27%;
    left: 24%;
    width: 52%;
  }
}

.image_container .header_city_wrapper .header_city_signal img {
  max-width: 70%;
  height: auto;
}
